<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Create user</title>
</head>
<body>
<div align="center">
    <h1>Create user</h1>
    <br/>
    <form action="#" th:action="@{/user-create}" th:object="${user}" method="post">
        <table border="0" cellpadding="10">
            <tr>
                <td>First Name:</td>
                <td><label>
                    <input type="text" th:field="*{firstName}"/>
                </label></td>
            </tr>
            <tr>
                <td>Last Name:</td>
                <td><label>
                    <input type="text" th:field="*{lastName}"/>
                </label></td>
            </tr>
            <tr>
                <td>Email:</td>
                <td><label>
                    <input type="text" th:field="*{email}"/>
                </label></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><label>
                    <input type="text" th:field="*{password}"/>
                </label></td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit">Create</button>
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>